html, body{
	padding: 0;
	margin: 0;  
}
body{
    font-family: 'Muli', sans-serif;
    background-color: rgb(248, 248, 248);
}
#dropdown{
    z-index: 9999;
}
header{
	background: #000000;
	min-height: 80px;
	border-bottom: 3px solid black;
	color: white;
}
nav{
	margin-top: 15px;
	padding: 10px;
	float: left;
	text-align: center;
	color:white;
}
.sub-container{
    margin: 10px;
    width: 100%;
    height: 100%;
    align-content: center;
    display: flex;   
    position: relative;
}
.bg1, .bg2, .bg3{
    opacity: 0.4;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    padding: 0;
    margin: 0;
}
.bg1{
    height: 240vh;
}
.bg2{
    height: 280vh;
}
.bg3{
    height: 200vh;
}
#subheader {
    text-align: center;
    background: #eded5a;
	min-height: 80px;
    color: white;
    width: 75%;
    margin: 15px 0px 15px 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
#subheader h1{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-shadow: 1px 1px 3px rgb(255, 255, 255);
    font-size: 8px;
    font-size: 4vw;
}
#recipe{
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-bottom: 20px;
}
img{
    width: 100%;
    display: block;
    margin-top: 20px;
    margin-right: auto;
    padding-bottom: 5%;
    border-radius: 50px;
}
#recipe-title{
    margin-top: 150px;
    background-color: white;
    color: rgb(66, 66, 66);
    position: absolute;
    width: 100%;
    bottom: -300px;
    text-align: center;
    align-content: center;
    height: 0%;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    font-size: 2vw;
}
h2 , h3{
    margin: 0;
    padding: 0;
}
#recipe-title h2 button{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
#recipe-title p{
	padding: 15px;
    text-align: justify;
    font-size: 2px;
    font-size: 1.10vw;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    margin: 10px;
    width: auto;
}
button {
    font-size: 1vw;
    width: 150px;
    border-radius: 20px;
    padding: 10px;
    background-color: white;
    color: black;
    border: 3px solid thistle;
    margin-bottom: 10px;
}
button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
} 
button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    bottom: 0px;
    top: 0;
    transform: rotate(90deg);
    transition: 0.5s;
} 
button:hover span {
    padding-right: 25px;
}  
button:hover span:after {
    opacity: 1;
    right: 0;
}
button:hover {
    background-color: #eded5a;
    color: rgb(163, 3, 3);
    font-weight: bold;
}
.flip-card {
    background-color: transparent;
    width: 350px;
    height: 300px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 200%;
    margin-top: 20px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    width: 350px;
    height: 300px;
}
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 350px;
    height: 300px;
}
.flip-card-back{
    background-repeat: no-repeat;
    background-size: 355px 672px;
    border-radius: 50px;
    color: white;
    transform: rotateY(180deg);
}
p{
    border-style: solid;
    background-color: rgb(247, 226, 208);
    font-size: 11px;
}
.bold{
    color:#000000;
    font-weight: bold;
}